mixin listAchievements(list, first=true)
  if Array.isArray(list)
    ul(class=(first ? 'flex' : '' ) )
      each more in list
        +listAchievements(more, false)
  else
    li !{list}

doctype html
html(lang="en")
  head
    title Resume Preview
    script(src='/reload/reload.js')
    style: include:clean-css ../node_modules/normalize.css/normalize.css
    if preview
      style: include:sass sass/a4-page.scss
    style: include:sass sass/main.scss
  body
    page
      h1 James Kiefer
      h3 Full Stack Web Developer & Drone Pilot
      h3
        | 248-818-1092
        img(src="logo.svg")
        | kiefer.james@gmail.com
      h2 Technical Proficiencies
      table.skills
        tr
          th Professional
          th Proficient
          th Familiar
        each _, row in Array(SkillsMaxLength)
          tr
            each _, type in Skills
              td= (Skills[type][row]) ? Skills[type][row].join(', ') : ''
      h2 Professional Experience (#{YearsExperience} Years)
      each job in Experience
        div(class=job.Name.split(' ')[0].toLowerCase())
          table
            tr
              td
                h4 #{job.Name} – #{job.Place}
              td.right
                h4 #{job.HireDate} – #{job.LeaveDate}
          h5= job.Position
          p= job.Description
          if job.Achievements
            +listAchievements(job.Achievements)